<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @client.email %></h1>
<p>
  Gift card price: <%= @client.price %>. Quantities left: <%= @client.gift_card_code %>.
</p>
</body>
</html>